@{
    ViewBag.Title = "Welcome to Librarian";
}

<div class="jumbotron">
    <h1>Librarian</h1>
    <p class="lead">Find your favorite book, rate/review it; or if you have books to share/loan jump in and create your e-library account</p>
    <p><a href="http://localhost:46301/account/register" class="btn btn-primary btn-large">Join us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <dl>
            <dt>Why Librarian</dt>
            <dd>
                Knock, knock. Who’s there? Banana. Banana who? 
                Knock, knock. Who’s there? Banana. Banana who? 
                Knock, knock. Who’s there? Banana. Banana who? 
                Knock, knock. Who’s there? Orange. Orange who?
                <strong>Orange you glad I didn’t say banana? (;</strong>
                
                <ul>
                    <li>Intuitive</li>
                    <li>Straghit to the point</li>
                    <li>Easy to use</li>
                    <li><strong>Free as in free-beer</strong></li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Share your books</dt>
            <dd>
                <a href="http://www.amazon.com/Depth-3rd-Edition-Jon-Skeet/dp/161729134X">John Skeet's C# in Depth.</a>

                <ul>
                    <li>Share your books</li>
                    <li>Review / rate books</li>
                </ul>
            </dd>
        </dl>
    </div>
    
  
    <div class="col-md-4">
        <dl>
            <dt>Social Logins</dt>
            <dd>
                You can the support so that users can login using their Facebook, Google, Twitter, Microsoft Account and more.
            </dd>
            <dd>
                <ul>
                    <li>
                        <a href="http://www.windowsazure.com/en-us/documentation/articles/web-sites-dotnet-deploy-aspnet-mvc-app-membership-oauth-sql-database/">Add Social Logins</a>
                    </li>
                    <li>
                        <a href="http://blogs.msdn.com/b/webdev/archive/2013/10/16/get-more-information-from-social-providers-used-in-the-vs-2013-project-templates.aspx">Get more data about the user when they login suing Facebook</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>